<a href="https://colab.research.google.com/github/Manasa890/Python-New/blob/main/MODULE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a function which accepts two inputs from the user and compute nCr
def nCr(a,b):
  return(fact(a)/(fact(b)
                *fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
  res=1
  for i in range (2,a+1):
    res=res*i
  return res
print(int(nCr(a,b)))

 8
 9
0

In [ ]:
# Program to print a specified list after removing the 0th, 4th and 5th elements.
# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# Expected Output : ['Green', 'White', 'Black']
Givenlist =['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
del Givenlist [0]
del Givenlist [3]
del Givenlist [3]
print(Givenlist)

['Green', 'White', 'Black']

In [ ]:
# Program to get the difference between the two lists
a=[8,9,7,6,8,9,34,67,89]
b=[67,8,9,8,6,5,78]
x=set(a)
y=set(b)
print(x.difference(y))
print(y.difference(x))

{89, 34, 7}
{5, 78}

In [ ]:
# Program to find the second smallest number and second largest number in a list.
a=[45,78,90,43,12,89]
a.sort()
print(a)
print(a[1])
print(a[-2])

[12, 43, 45, 78, 89, 90]
43
89

In [ ]:
# Given a list of numbers of list, write a Python program to create a list of tuples
# having first element as the number and second element as the square of the number
Thelist=[78,9,34,12,90]
total=[(x,x**2) for x in Thelist]
print("Required list is: ",total)

Required list is:  [(78, 6084), (9, 81), (34, 1156), (12, 144), (90, 8100)]

In [ ]:
# Given list of tuples, remove all the tuples with length K.
# Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 

Givenlist = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
new_list=[]
K=2
for x in Givenlist:
 if len(x)!=K:
   new_list.append(x)
print("Filtered list without having any element of tuple length '2' is: ",new_list)

Filtered list without having any element of tuple length '2' is:  [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
# Program to generate and print a dictionary that contains a number (between 1 and n) 
# in the form (x, x*x). 
n=int(input("Input a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Program to remove a key from a dictionary
d={'car':'BMW', 'colour':'black', 'carno':'9999'}
d.pop('colour')
print(d)

{'car': 'BMW', 'carno': '9999'}

In [ ]:
# Program to get the maximum and minimum value in a dictionary
my_dict = {'x':500, 'y':5874, 'z': 560}
key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))
print('Maximum Value is ',my_dict[key_max])
print('Minimum Value is ',my_dict[key_min])

Maximum Value is  5874
Minimum Value is  500

In [ ]:
# Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations
string="Python, Clanguage"
print(string.split())
print(string[5])

['Python,', 'Clanguage']
n

In [ ]:
# Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements 
a="My name is Manasa"
ele="a"
count=0
for i in a:
  if i==ele:
    count+=1
print(count)

4

In [ ]:
# Program for replacing one substring by another
a="RRR has been released"
print(a.replace("RRR","KGF"))

KGF has been released

In [ ]:
# Program to Acronym generator for any user input
a="Andhra Pradesh State Road Transport Corporation"
acr=""
for x in a:
  if x.isupper():
    acr=acr+x
print(acr)

APSRTC

In [ ]:
# Python function that accepts a string and calculates the number of uppercase letters and lowercase letters
a="My name is Manasa"
upper=0
lower=0
for x in a:
  if x.isupper():
    upper=upper+1
  elif x.islower():
    lower=lower+1
  else:
    pass
print("No of upper case letters are:",upper)
print("No of lower case letters are:",lower)

No of upper case letters are: 2
No of lower case letters are: 12

In [ ]:
# Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings 
p=['abc', 'xyz', 'aba', '1221']
count=0
for x in p:
  if len(x)>1 and x[0]==x[-1]:
    print("The string we want:",x)
    count+=1
print("The number of strings with given conditions are:",count)

The string we want: aba
The string we want: 1221
The number of strings with given conditions are: 2